.project {
    padding: 50px 0;
    position: relative;
    /* background-color: black; */
}

.project h2 {
	font-size: 45px;
	font-weight: 700;
    text-align: center;
}

.project p {
    color: #B8B8B8;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    margin: 14px auto 30px auto;
    text-align: center;
    width: 56%;
}

.project .nav.nav-pills {
    width: 72%;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.932);
    overflow: hidden;
}

.project .nav.nav-pills .nav-item {
    width: 33.33333%;
}

.project .nav.nav-pills .nav-link {
    background-color: transparent;
    border-radius: 0;
    padding: 17px 0;
    color: #000000;
    width: 100%;
    font-size: 17px;
    letter-spacing: 0.8px;
    font-weight: 500;
    position: relative;
    transition: 0.3s ease-in-out;
    text-align: center;
    z-index: 0;
}

.project .nav.nav-pills .nav-link::before {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    /* background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%); */
    background-color: rgb(255, 124, 62);
    top: 0;
    left: 0;
    z-index: -1;
    transition: 0.3s ease-in-out;
}

.project .nav.nav-pills .nav-link.active::before {
    width: 100% !important;
}


/* hidden icons */

.project .icons-hidden {
    display: none;
    color: #0000009a;
}

/* .project .nav.nav-pills .nav-link.active {
    border: 1px solid rgba(255, 255, 255, 1);
} */

/* .nav-link#projects-tabs-tab-first {
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 55px 0px 0px 55px;
  }
  .nav-link#projects-tabs-tab-second {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }
  .nav-link#projects-tabs-tab-third {
    border: 1px solid rgb(172, 45, 45);
    border-radius: 0 55px 55px 0;
} */


/* achicar img porque achico el container */
/* .container-items-nav {
    padding-left: 20px;
    padding-right: 20px;
} */

.proj-imgbx {
    position: relative;
    border-radius: 30px;
    overflow: hidden;
    margin-bottom: 24px;
}

.proj-imgbx::before {
    content: "";
    /* background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%); */
    background-color: rgb(121, 88, 215);
    opacity: 0.85;
    position: absolute;
    width: 100%;
    height: 0;
    transition: 0.4s ease-in-out;
}

.proj-imgbx:hover::before {
    height: 100%;
}

.proj-txtx {
    position: absolute;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s ease-in-out;
    opacity: 0;
    width: 100%;
}

.proj-txtx button {
    border: 1px solid #000000;
    padding: 2px 25px 3px 25px;
    margin-top: 15px;
    border-radius: 10px;
}

.proj-txtx button:hover {
    background-color: rgb(255, 124, 62);
    border: 1px solid rgb(255, 124, 62);
    color: #fff;

}

.proj-txtx button a {
    text-decoration: none;
    color: #000000;
}

.proj-txtx button:hover a {
    color: #ffffff;
}

.proj-imgbx:hover .proj-txtx {
    top: 50%;
    opacity: 1;
}

.proj-txtx h4 {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 1.1em;
}
  .proj-txtx span {
    font-style: italic;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.8px;
}

@media only screen and (max-width: 968px) {
    .project {
        padding: 5px 0;
    }

    .project h2 {
        font-size: 25px;
        font-weight: 500;
        text-align: center;
    }

    .project p {
        padding: 0px 15px 0px 15px;
        text-align: justify;
        width: 100%;
    }

    .project .icons-hidden {
        display: inline-block;
    }
    .project .span-hidden {
        display: none;
    }

    .project .nav.nav-pills .nav-link {
        padding: 8px;
    }

    #project-tabs-tab-first {
        height: 100%;
    }
}




/* #project-tabs-tabpane-third {
    text-align: center;
} */